@{
    Layout = "_Layout";
}

    <div class="jumbotron col-md-8 mx-auto">
        <p class="lead">
            NB: The code left intentionally not fully optimized and refactored, thus unfinished.
            The project has excesively complex structure, but is fully working ;)
            <br />
            <br />
            It may happen that one has an idea, but no project to try it on. So, here we go!
            <br />
            It is only backend code with uterly simple Razor pages. No JS so far...
        </p>
        <hr class="my-4">
        <p>
            C#, ASP.Net Core, Entity Core, T-SQL, Razor, Bootstrap, Azure
            <br />
            MVC, Miltilayer (Data/Logic/UI), UnitOfWork/Repository, CRUD.
        </p>
    </div>