<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo text-decoration-none">Small Hotel Solutions Inc.</a>
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <ul class="topmenu mx-auto">
                <li>
                    <a class="submenu-link">Clients</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="ClientModel" asp-action="ShowAll">Show All</a></li>
                        <li><a asp-area="" asp-controller="ClientModel" asp-action="Search">Search Client</a></li>
                        <li><a asp-area="" asp-controller="ClientModel" asp-action="Create">Add Client</a></li>
                    </ul>
                </li>
                <li>
                    <a class="submenu-link">Bookings</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="BookingModel" asp-action="ShowAll">Show All</a></li>
                        <li><a asp-area="" asp-controller="BookingModel" asp-action="Search">Search Booking</a></li>
                        <li><a asp-area="" asp-controller="BookingModel" asp-action="Create">Add Booking</a></li>
                    </ul>
                </li>
                <li>
                    <a class="submenu-link">Rooms</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="RoomModel" asp-action="ShowAll">Show All</a></li>
                        <li><a asp-area="" asp-controller="RoomModel" asp-action="ShowAvailable">Show Available</a></li>
                        <li><a asp-area="" asp-controller="RoomModel" asp-action="Create">Create Room</a></li>
                    </ul>
                </li>
                <li>
                    <a class="submenu-link">Holidays</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="HolidayModel" asp-action="ShowAll">Show All</a></li>
                        <li><a asp-area="" asp-controller="HolidayModel" asp-action="Create">Add Holiday</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
  
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
